
@{
    ViewBag.Title = "Habitats";
}

<h2>Habitats</h2>


    @foreach (var hab in ViewBag.habitats)
    {
        <a href="/Habitat/Details/@hab.HabitatId" class="btn btn-default">@hab.Name has @hab.Residents.Count() items</a>
    }



