
@{
    ViewBag.Title = "Detail";
}

<h2>@ViewBag.Employee.Name</h2>

<p>Age: @ViewBag.Employee.Age</p>
<p>
    Habitats
    <ul>
        @{
            if(ViewBag.Employee.Habitats == null)
            {
                <li>NONE</li>
            }
            else
            {
                foreach (var habitat in ViewBag.Employee.Habitats)
                {
                    <li>@habitat.Name</li>
                }
            }
        }
    </ul>
</p>

