
@{
    ViewBag.Title = "Index";
}

<h2>View all of our <s>UGLY</s> employees</h2>
@Html.ActionLink("Add Another Idiot", "Add", "Employee", new { @class = "btn btn-default" })
<br />
<ul>
    @{
        foreach (var employee in ViewBag.Employees)
        {
            string Name = employee.Name;
            <li>@Html.ActionLink(Name, "Details", "Employee", new { id = employee.EmployeeId }, new { @class = "btn btn-default" })</li>
        }
    }
</ul>